.carousel-item {
  height: 82vh;
  min-height: 50%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-item {
  cursor: pointer;
}
